.AuthorNFTCardBox{
    width: 100%;
    margin-bottom: 14rem;
}

.AuthorNFTCardBox_box{
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}